<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinPetService</servlet-name>
  	<display-name>JoinPetService</display-name>
  	<description></description>
  	<servlet-class>controller.JoinPetService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WalkService</servlet-name>
  	<display-name>WalkService</display-name>
  	<description></description>
  	<servlet-class>controller.WalkService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>showRecord</servlet-name>
  	<display-name>showRecord</display-name>
  	<description></description>
  	<servlet-class>controller.showRecord</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecordNoticeService</servlet-name>
  	<display-name>RecordNoticeService</display-name>
  	<description></description>
  	<servlet-class>controller.RecordNoticeService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>showNoticeService</servlet-name>
  	<display-name>showNoticeService</display-name>
  	<description></description>
  	<servlet-class>controller.showNoticeService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindPetName</servlet-name>
  	<display-name>FindPetName</display-name>
  	<description></description>
  	<servlet-class>controller.FindPetName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommunityService</servlet-name>
  	<display-name>CommunityService</display-name>
  	<description></description>
  	<servlet-class>controller.CommunityService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommunityDAO</servlet-name>
  	<display-name>CommunityDAO</display-name>
  	<description></description>
  	<servlet-class>model.CommunityDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>showCommunityService</servlet-name>
  	<display-name>showCommunityService</display-name>
  	<description></description>
  	<servlet-class>controller.showCommunityService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinPetService</servlet-name>
  	<url-pattern>/JoinPetService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WalkService</servlet-name>
  	<url-pattern>/WalkService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showRecord</servlet-name>
  	<url-pattern>/showRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecordNoticeService</servlet-name>
  	<url-pattern>/RecordNoticeService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showNoticeService</servlet-name>
  	<url-pattern>/showNoticeService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindPetName</servlet-name>
  	<url-pattern>/FindPetName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommunityService</servlet-name>
  	<url-pattern>/CommunityService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommunityDAO</servlet-name>
  	<url-pattern>/CommunityDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showCommunityService</servlet-name>
  	<url-pattern>/showCommunityService</url-pattern>
  </servlet-mapping>
</web-app>
